{% extends 'app/base.html' %}

{% block content %}
<h2>Chat con {{ receptor.username }}</h2>
<div style="width: 40%; border: 1px solid black; padding: 6px;">
    {% for mensaje in mensajes_descifrados %}
		{% if mensaje.sender == user.id %}
			<div class="chat sender">
				<span class="chat">{{ mensaje.content }}</span>
			</div>
		{% else %}
			<div class="chat">
				<span class="chat">{{ mensaje.content }}</span>
			</div>
		{% endif %}
    {% empty %}
        <span class="chat">No hay mensajes aún.</span>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar mensaje</button>
</form>
{% endblock %}