.w-full {
	width: 100%;
}

img, p.decrypted {
	max-width: 25%;
}

div.images {
	display: flex;
	align-items: center;
	flex-direction: column;
}

p.timestamp {
	margin-top: 2px;
	font-size: 0.8em;
}

.m-v-0 {
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

form.home {
	display: flex;
	flex-direction: column;
}

div.home {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 20%;
}

.navbar {
	position: fixed;
	top: 10px;
	right: 10px;
}

div.fixed {
	display: flex;
	flex-direction: column;
	width: 32%;
	height: 97%;
	position: fixed;
	top: 10px;
	left: 10px;
}

details {
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #ddd;
	overflow: scroll;
}

div.info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

button.refresh {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
